body {
    /* Prevent the user selecting text in the example */
    user-select: none;
  }
          .item:hover{
              cursor: pointer;
          }
         .item::marker{
          color: #1769ff;
         }
         .item{
          font-weight: bolder;
          background-color: aqua;
          box-shadow:5px 5px 5px 1px gray;
         }
         .date{
         color: #999;
         font-size: smaller;
         }
         .scedule_strong{
          font-size: 22px;
         }
         .sortable{
          line-height: 45px;
         }
         .summary_btn{
          background: black;
          color: white;    
          border: 0px;
          border-radius: 5rem;
          cursor: pointer;
      }
      .Detail_after{
          display: none;
      }
     